<!DOCTYPE html>
<html lang="en" dir="ltr">
<div>

  <head>
    <meta charset="utf-8">
    <title>Confirmar datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment_info.css') }}">

<header>
      <div class="container">
        <h1 class="logo">Luna Shop</h1>
      </div>
    </header>
    
<script>
/*Funcion Cargar y Mostrar datos*/
$(document).ready(function(){    
    $('#boton-cargar').click(function(){                       
        /*Obtener datos almacenados*/
        var nombre = localStorage.getItem("Nombre");
        var numero_tarjeta = localStorage.getItem("Numero de tarjeta");
        var fecha_expiracion = localStorage.getItem("Fecha de expiracion");
        var cvv = localStorage.getItem("CVV");
        /*Mostrar datos almacenados*/      
        document.getElementById("nombre").innerHTML = nombre;
        document.getElementById("numero de tarjeta").innerHTML = numero_tarjeta;
        document.getElementById("fecha de expiracion").innerHTML = fecha_expiracion;
        document.getElementById("cvv").innerHTML = cvv; 
    });   
});

</script>
</head>      
<hr />
Nombre:
<label type="text" id="nombre"></label><br>                          
Número de tarjeta:
<label "text" id="numero_tarjeta"></label><br>
Fecha de expiración:
<label "text" id="fecha_expiracion"></label><br>
CVV:
<label "text" id="cvv"></label><br>

<hr />
    

<button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="button"><a href="{{ url_for('pagoconfirmado') }}"><span>Pagar<i class="fa fa-long-arrow-right ml-1"></i></span></button>
</div>