<!DOCTYPE html>
<html lang="en" dir="ltr">

<div>

  <head>
    <meta charset="utf-8">
    <title>Confirmar datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment_info.css') }}">
  </head>
    <header>
      <div class="container">
        <h1 class="logo">Luna Shop</h1>
      </div>
    </header>

<script>
function change_myselect(sel) {
  var obj, dbParam, xmlhttp, myObj, x, txt = "";
  obj = { table: sel, limit: 20 };
  dbParam = JSON.stringify(obj);
  xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      myObj = JSON.parse(this.responseText);
      txt += "<table border='1'>"
      for (x in myObj) {
        txt += "<tr><td>" + myObj[x].name + "</td></tr>";
      }
      txt += "</table>"
      document.getElementById("demo").innerHTML = txt;
    }
  };
  xmlhttp.open("POST", "json_demo_html_table.php", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.send("x=" + dbParam);
}
</script>

<button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="button"><a href="{{ url_for('pagoconfirmado') }}"><span>Pagar<i class="fa fa-long-arrow-right ml-1"></i></span></button>
</div>