<!DOCTYPE html>
<html lang="en" dir="ltr">
<div>
  <head>
    <meta charset="utf-8">
    <title>Pago Confirmado!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment_info.css') }}">
  </head>
    <header>
      <div class="container">
        <h1 class="logo">Luna Shop</h1>
      </div>
    </header>
</div>
<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                <body>
                    <h1> Muchas gracias por tu compra, esperamos verte pronto! </h1>
                    <p> *AQUÍ IRÁN LOS DATOS DEL USUARIO* </p>
                    <p> </p>
                </body> 
            </div>
        </div>
    </div>
</div>
</html>